.app__main-footer-navigation {
	display: flex;
}

.app__main-footer-link {
	margin-right: 20px;
	padding: 5px;
	line-height: 1;
	list-style: none;
	text-decoration: none;
	color: #868686;
	text-align: center;
}

.app__main-footer-link:last-of-type {
	margin: 0;
}

.app__main-footer-link_active {
	border: 1px solid #868686;
}

/* sm <= Medium (md) */
@media (max-width : 767px) {
	.app__main-footer-link {
		margin-right: 10px;
	}
}

/* xs <= Small (sm) */
@media (max-width : 575px) {

	.app__main-footer-link {
		width: 85px;
		margin: 0;
	}
}